html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

body {
  position: relative;
  color: #000;
  background-color: #f4f4f4;
  transition: background-color 500ms ease;
}

header {
  position: relative;
  z-index: 11;
}

section.top-content {
  position:absolute;
  top:7%;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 130px;
  gap: 15px;
  transform: translateX(-35px);
  transition: 500ms;
  z-index: 10;
  padding-right: 20px;
  padding-left: 20px;
}

.contact-icons svg {
  transition: 600ms;
}

.contact-icons:hover {
  transform: translateX(0)!important;
  cursor: pointer;
}

.contact-icons svg{
  height: 25px;
  width: auto;
  fill: white;
}

.top {

  height: 300px;
  opacity: 1;
}

.color-orange {
  background-color:#fe9a46;
}
.color-indigo {
  background-color: #3b2496;
}

.color-white {
  background-color: #fff;
}

.color-black {
  background-color: #0d1116;
}

.color-pink {
  background-color: #f32066;
}

.color-green {
  background-color: #31f5de;
}


.hero {
    min-height: 100vh;
    background-size: cover!important;
    background-position: 80% 0!important;
    background-repeat: no-repeat!important;
    z-index: -1;
    position: relative;
}

.hero .row {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .object {
    animation: MoveUpDown 20s linear infinite;
    animation-delay: 4s;
    position: absolute;
    right: 20%;
    bottom: 0;
    height: 260px;
  }

  .object img {
    width: 200px;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 50px;
    }
  }


.content h1 {
    font-size: 6em;
    line-height: 0.8;
}
.content p {
  margin-top: 35px;
  margin-bottom: 35px;
}

.txtcontent {
  opacity: 0;
  transition: opacity .6s cubic-bezier(0.16, 1, 0.3, 1),transform .6s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateY(25px);
}

.txtcontent.show   {
  opacity: 1;
  transform: translateY(0);
}

#aboutme {
  min-height: 100vh;
}

#aboutme .txtcontent {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 600px;
  margin: auto;
}

#aboutme img {
  max-height: 100vh;
  max-width: 400px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 100%;
}

#aboutme .col-lg-6 p {
  max-width: 450px;
  margin-top: 30px;
}

#aboutme .content h1:first-child {
  color: #a82626;
}

#aboutme .content h1:nth-child(2) {
  color: #fff;
}

#aboutme p {
  color: #961818;
}

#aboutme .row {
  min-height: 100vh;
  align-items: center;
}

#aboutme .row .col-lg-6:nth-of-type(2) {
  display: flex;
}


/* animate letters */

#aboutme .letters .letter:nth-child(n+6) {
  color: white;
}

#projects .letters .letter:nth-child(n+9) {
  color: #67005d;
}
#contact .letters .letter:nth-child(n+10) {
  color: white;
}

#skills .ml9{
  color:white;
}

#skills .letters .letter:nth-child(n+5) {
  color: #4534a9;
}

#skills .content h3 {
  color: #4534a9;
}

.what p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.what div:first-child {
  margin-top: 50px;
}

#technology .letters .letter:nth-child(11),
#technology .letters .letter:nth-child(14),
#technology .letters .letter:nth-child(18) {
  color: #4285f4;
}

#technology .letters .letter:nth-child(12),
#technology .letters .letter:nth-child(16) {
 color: #ea4335;
}

#technology .letters .letter:nth-child(13),
#technology .letters .letter:nth-child(17),
#technology .letters .letter:nth-child(20) {
 color: #fbbc05;
}

#technology .letters .letter:nth-child(15),
#technology .letters .letter:nth-child(19) {
 color: #34a853;
}






.ml6, .ml7, .ml8, .ml9, .ml10 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper, 
.ml7 .text-wrapper, 
.ml8 .text-wrapper, 
.ml9 .text-wrapper,
.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter, 
.ml7 .letter, 
.ml8 .letter, 
.ml9 .letter, 
.ml10 .letter  {
  display: inline-block;
  line-height: 1em;
}

.btn-ed {
  padding: 10px 45px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  font-family: 'Roboto Condensed';
  font-size: 1.5em;
  text-transform: uppercase;
}
#skills {
  min-height: 100vh;
}

#skills .what img{
  height: 50px;
  width: 50px;
}

#skills img {
 max-width: 500px;
 margin: auto;
 display: block;
 width: 100%;
}

#skills .row {
  justify-content: center;
  align-items: center;
}

#skills .content .what div {
  display: flex;
  gap: 20px;
  align-items: center;
}

#skills .text-wrapper {
  margin-left: 70px;
}

#skills h3 {
  margin-left: 70px;
}

#skills .content {
  max-width: 600px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

#skills .row {
  height: 100%;
  align-content: center;
  min-height: 100vh;
}

.what {
  color:white;
}

#technology {
  min-height: 100vh;
}

#technology .content {
  padding-top: 100px;
}

#technology .row .col-lg-6:first-of-type {
  display: flex;
  justify-content: center;
}

#technology .col-lg-6:nth-of-type(2) img {
  max-width: 750px;
  margin: auto;
  display: block;
  width: 100%;
}


#technology .row {
  min-height: 100vh;
  align-items: center;
}

#technology .col-md-6:nth-child(1) {
  max-width: 600px;
  margin: auto;
}

#technology .col-lg-6:nth-child(1) .content {
  color: white;
}

.brands img {
  padding: 20px 0;
  max-width: 430px;
  position: relative;
  width: 100%;
}

.slideshow {
  position: relative;
  overflow: hidden;
  height: 80px;
  width: 100%;
}

.images {
  background: url('/wp-content/uploads/2023/02/iconsslideraaa.png');
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 70s linear infinite;
  opacity: 0.5;
}


@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

#google-code span:nth-child(1),
#google-code span:nth-child(6) {
  color: #4285f4;
}

#google-code span:nth-child(2),
#google-code span:nth-child(9),
#google-code span:nth-child(11) {
  color: #fbbc05;
}

#google-code span:nth-child(3),
#google-code span:nth-child(5),
#google-code span:nth-child(7) {
  color: #ea4335;
}

#google-code span:nth-child(4),
#google-code span:nth-child(8),
#google-code span:nth-child(10) {
  color: #34a853;
}


.designer-websites {
   
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: -3px;
}


.designer-websites .row .col-6:nth-child(2) {
    text-align: right;
}

.designer-websites .content {
  max-width: 550px;
  margin: auto;
  text-align: right;
}

#projects .row .col-md-6:nth-child(2) p {
  text-align: right;
  margin-top: 20px;
  padding: 0 50px;
}

.designer-websites .content h1 {
    color: white;
}

.designer-websites h1:nth-of-type(2):after{
    content:".";
    position:absolute;
}

.designer-websites p {
    color: white;
    max-width: 600px;
    text-align: center;
}

.btn-designer-websites {
    background: #67005d;
    color: white;
}

.designer-websites img {
    margin-top: 100px;
    margin-bottom: -150px;
    box-shadow: 0px 4px 50px 4px #000000b5;
}

.designer-websites .content h1:nth-of-type(2) {
    margin-bottom: 50px;
    padding-top: 5px;
}

.contact {
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 250px;
}

#contact .content .row > h3 {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

#contact {
  background-attachment: fixed!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background: linear-gradient(90deg,#00000d52, #ff000000, #00000d5c ),url(/wp-content/uploads/2023/01/angels-hd.jpeg);
}

#contact .row .col-lg-6:nth-child(2) .content .row {
  justify-content: flex-end;
}

.contact .content h1:nth-child(-n+2) {
    color:#c09e6a;
}
.contact .content h1:nth-of-type(2) {
    padding-bottom: 5px;
}

.contact .contact-form {
    text-align: right;
    padding-top: 20px;
}

.contact .content p {
    margin: 0;
}

.contact .content .row {
    margin-top: 50px;
    padding: 0 10px;
}

.contact-form .contact-info {
    display: flex;
    align-items: center;
    gap: 5px;
    fill: white;
    justify-content: flex-end;
}

.contact-form .contact-info a {
  color: white;
}

.contact-form svg{
  height: 15px; 
  width: auto;
}


.contact-details {
  color: white;
}
.contact-form h3 {
  color: white;
}

#contact .row > h3 {
  color: white;
}

#contact .content {
  max-width: 600px;
  display: block;
  margin: auto;
}

.ed-footer {
    background: black;
    padding-top: 100px;
    padding-bottom: 20px;
}

.ed-footer ul {
    list-style: none;
    padding-inline-start: 0;    
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.ed-footer ul li {
    color: white;
}

.ed-footer img {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
}

.ed-footer .container .row:nth-of-type(2){
    margin-bottom: 80px;
}

.ed-footer .container .row:nth-of-type(2) li {
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.ed-footer .container .row:nth-of-type(3) ul li {
    font-size: 12px;
}

.ed-footer .container .row:nth-of-type(3) ul li a{
    color: white;
}


input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea, textarea.form-control {
    border: none;
    border-bottom: 1px solid white;
    padding-left: 0;
    padding-bottom: 5px;
    background: transparent;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit {
    background: #c09e6a;
    font-weight:500;
    font-size: 1.5em;
    border-radius: 5px;
    width: auto;
    color: white;
    padding: 20px 50px;
    border: none;
}

.wpcf7-form {
    text-align: start;
    position: relative;
    top: 40px;
}

form.wpcf7-form label {
    display: block;
    margin-bottom: 40px;
}

.ed-footer .row:nth-of-type(2) a {
    color: white;
}

.contact-details {
    display: flex;
    gap: 60px;
    color: white;
}

form input, form textarea {
  width: 100%;
}

form input:focus-visible, form textarea:focus-visible {
  outline: none;
}

::placeholder { 
  color: #c8c8c8;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: #c8c8c8;
}

::-ms-input-placeholder { 
  color: #c8c8c8;
}

input, textarea {
  color: white;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  border-color: red;
}

.wpcf7 form .wpcf7-response-output {
  color: red;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer {
  background-color: #000000bf;
  backdrop-filter: blur(3px);
  }

#footer p {
  color: #bdbdbd;
  margin: 0;
  text-align: center;
  padding: 30px 0;
  font-size: 18px;
}
  
footer a:hover {
  text-decoration: none;
}

.svg-animate {
  width: 100%;
  height: auto;
  max-width: 500px;
  position: absolute;
}

.svg-animate {
  opacity: 0;
}

.svg-animate.visible {
  opacity: 1;
}


@media only screen and (max-width: 600px) {

    .hero-banner {
        background-position: 28%;
    }

    .content h1 {
        font-size: 3em;
    }
    .hero-banner .content h1:nth-of-type(3) {
        color: #f32066;
        font-size: 2.5em;
    }

    .btn-ed {
        font-size: 1.25em;
    }
    .hero-banner .content p {
        font-size: 18px;
    }

    input.wpcf7-form-control.has-spinner.wpcf7-submit {
        font-size: 1.25em;
    }

    .contact-details {
        display: block;
    }

    .loc, .bus {
        margin-bottom: 40px;
    }

    .designer-websites .row .col-md-6:nth-of-type(1) p {
        text-align: right;
        margin-bottom: 40px;
        max-width: 230px;
        margin-left: auto;
    }
    

    .ed-footer .container .row:nth-of-type(2) li {
        flex-basis: 260px;
        text-align: center;
        
    }

    .ed-footer img {
        max-width: 180px;
    }

    .ed-footer .container .row:nth-of-type(3) ul li {
        padding: 0 10px;
    }


    #skills .text-wrapper, #skills h3 {
        margin-left: 0;
    }


    .images {
      animation-duration: 17s;
    }
   
    .contact-icons {
      display: none;
    }
    
    .object img {
      width: 80px;
  }

  section.top-content {
    top: 5%;
  }

  #aboutme img {
    max-width: 300px;
  }

  #skills .content .what div {
    display: block;
  }

  .what div {
    margin-bottom: 50px;
  }

  input.wpcf7-form-control.has-spinner.wpcf7-submit {
    padding: 10px 20px;
  }

  #contact h3 {
    font-size: 1.5rem;
  }



}



@media screen and (min-width: 601px) and (max-width: 991px) {
  .containertext h1:nth-child(2) {
    font-size: 75px!important;
    width: 545px!important;
  }

  .content h1 {
    font-size: 4em;
  }

}


@media only screen and (min-width: 1200px) {
.container, div.container, .et-container {
    max-width: 1400px;
}
}



@media only screen and (max-width: 992px) {
    .contact .contact-form {
        margin-top: 50px;
    }

    #skills .row {
      flex-direction: column-reverse;
    }

      #technology .col-lg-6:nth-of-type(2) img {
        margin-left: auto;
      }

      .hero {
        background-position: 60% 0!important;
      }

      .designer-websites .row {
        flex-direction: column-reverse;
      }


      .designer-websites p {
        text-align: right;
        margin-left: auto;
      }

      .content, #aboutme .txtcontent, #aboutme .col-lg-6 p {
        max-width: none!important;
      }  
    
}
 
